<footer>
    <div class="container-fluid request-email">
      <div class="title">
        <h1>Đăng ký nhận tin</h1>
        <form action="">
          <input type="text" placeholder="Email của bạn" id="comment">
          <button type="submit" class="btn-submit">Submit <i class="fa fa-envelope-o" aria-hidden="true"></i></button>
        </form>
        <div class="icon-footer">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-google-plus-official" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="container footer">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 list-item">
          <h4 class="title-footer">Thời gian mở cửa</h4>
          <ul>
            <li>Thứ 2 - thứ 6: 8AM - 10PM</li>
            <li>Thứ 7, CN: 9AM - 8PM</li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 list-item">
         <h4 class="title-footer"><a href="introduce">Giới thiệu</a></h4>
         <ul >
          <li><a href="introduce">Về chúng tôi</a></li>
          <li><a href="introduce">Hệ thống cửa hàng</a></li>
          <li><a href="sale-off">Khuyến mãi</a></li>
          <li><a href="">Tuyển dụng</a></li>
          <li><a href="">Cam kết sản phẩm chính hãng</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 list-item">
       <h4 class="title-footer"><a href="">Hướng dẫn hỗ trợ</a></h4>
       <ul >
        <li>Hướng dẫn mua hàng</li>
        <li>Vận chuyển - giao hàng</li>
        <li>Phương thức thanh toán</li>
        <li>Sử dụng mã giảm giá</li>
        <li>Hướng dẫn tạo tài khoản</li>
        <li>Phương thức đổi trả hàng</li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 list-item">
     <h4 class="title-footer">Chính sách mua hàng</h4>
     <ul >
      <li>Chính sách tích điểm</li>
      <li>Chính sách bán sỉ</li>
      <li>Chính sách bảo hành</li>
      <li>Bảo mật thông tin</li>
      <li>Sử dụng thông tin</li>
    </ul>
  </div>
</div>
</div>
<img src="./image/back-top.png" alt="" class="back-top">
</footer>