<div id="register" class="tab-pane fade">
          <!-- Modal content-->
          <div class="modal-content myForm">
            <div class="modal-body ">
              <form id="form-register">
                <div class="alert alert-warning wsalert wsregister-w" role="alert">
                This is a warning alert—check it out!
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="username">
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                </div>
                <div class="form-group">
                  <label for="name">Họ và tên:</label>
                  <input type="text" class="form-control" id="name" placeholder="Họ và tên" name="fullname">
                </div>
                <div class="form-group">
                  <label for="phone">Số điện thoại:</label>
                  <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" name="phone">
                </div>
                <button type="button" class="btn btn-primary getsubmit" id="post-register">Đăng ký
                          </button>
              </form>
            </div>
          </div>
        </div>